.about {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4vw;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.about-image {
    width: 500px;
    height: 500px;
    position: relative;
    border: 4px solid #232020;
    text-align: center;
    overflow: hidden;
}

.about-image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.about-description {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50vw;
}

.about-description_heading {
    border-bottom: 4px solid #232020;
}

.about-description h2 {
    font-size: 4.5vw;
    margin: 0;
    text-align: right;
}

.about-description p {
    font-size: 1.5vw;
    text-align: justify;
}